# Created by .ignore support plugin (hsz.mobi)
out
.gradle
.idea
LeetCode.iml
#settings.gradlew
src/main/resources/
src/test/resources/
#gradle/
#gradlew
#gradlew.bat
src/main/main.iml
src/test/test.iml
